:root {
	font-size: 16px;
}

.screenSize {
	background-image: url("bck1.jpg");
	height: 100vh;
	box-sizing: border-box;
	border: solid 5px blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: none;
}

.titleBar{
	height: 10vh;
	border: solid;
}
.wiki{
	border: solid;
}
.search{
	height: 10vh;
	border: solid;
}

@media screen and (min-width : 900px){

}

@media screen and (max-width : 899px){

}
