:root {
	font-size: 16px;
}
.responsive {
    width: 95%;
    height: 95%;
}
.screenSize {
	background-image: url("def.png");
	height: 100vh;
	box-sizing: border-box;
	border: solid 5px blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: none;
}
.titleBar{
	height: 9.5vh;
	padding: 0;
}
.wiki{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 89vh;
	padding: 0;
}
.search{
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid white;
	border-radius: 10px;
}
.searchById{
	border-radius: 10px;
	height: 90%;
	width: 65%;
}
.id{
	height: 6vh;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: flex-start;
}
.searchByTitle{
	border-radius: 10px;
	height: 90%;
	width: 65%;
}
.title{
	height: 6vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.searchByYear{
	border-radius: 10px;
	height: 90%;
	width: 65%;
}
.year{
	height: 6vh;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: flex-start;
}
.sub{
	height: 5vh;
	width: 10vw;
	border-radius: 5px;
	margin-left: 1vw;
	margin-right: 1vw;
}
.subAdv{
	height: 5vh;
	width: 20vw;
	border-radius: 5px;
	margin-left: 1vw;
	margin-right: 1vw;
}
.progress{
	width: 18vw;
	height: 30%;
	border-radius: 4px;
}
.subProg{
	height: 6vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.contentImg{
	height: 78vh;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.image{
	display: none;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 90%;
}
.content{
	height: 78vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.textSize{
	font-weight: bold;
}
.textLook{
	font-family: cursive;
	font-weight: normal;
	color: #0000FF;
}
.contentBar{
	height: 78vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	overflow-x: none;
	overflow-y: scroll;
}
.loader {
		position: absolute;
		top: 10%;
		left: 40%;
		display: none;
		justify-content: center;
    border: 10px solid blue; /* Light grey */
    border-top: 10px solid #66b9bf; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width : 768px) and (max-width : 1200px){
	.titleBar{
		font-size: 1.8rem;
	}
	.wiki{
		font-size: 1.8rem;
	}
	.search{
		font-size: 1.8rem;
		justify-content: center;
		height: 25vh;
		flex-direction: column;
	}
	.id{
		width: 100%;
		justify-content: space-between;
	}
	.title{
		width: 100%;
		justify-content: space-between;
	}
	.year{
		width: 100%;
		justify-content: space-between;
	}
	.subProg{
		font-size: 1.8rem;
		width: 100%;
		justify-content: space-between;
	}
	.sub{
		font-size: 1.8rem;
		height: 100%;
		width: 30vw;
	}
	.subAdv{
		font-size: 1.8rem;
		height: 100%;
		width: 61vw;
	}
	.progress{
		font-size: 1.8rem;
	}
	.contentImg{
		height: 65vh;
		font-size: 1.8rem;
	}
	.content{
		height: auto;
		font-size: 1.8rem;
	}
	.contentBar{
		height: auto;
		font-size: 1.8rem;
	}
	.textSize{
		font-size: 2.1rem;
	}
	.textLook{
		font-size: 2.1rem;
	}
	.castingClass{
		font-size: 1.8rem;
	}
	.ratingsClass{
			font-size: 1.8rem;
	}
	.moreClass{
			font-size: 1.8rem;
	}
	.modal-title{
			font-size: 1.8rem;
	}
	.modal-body{
			font-size: 1.8rem;
	}
	.modal-footer{
			font-size: 1.8rem;
	}

}
@media screen and (max-width : 767px){

	.search{
		justify-content: center;
		height: 25vh;
		flex-direction: column;
	}
	.id{
		width: 100%;
		justify-content: space-between;
	}
	.title{
		width: 100%;
		justify-content: space-between;
	}
	.year{
		width: 100%;
		justify-content: space-between;
	}
	.subProg{
		width: 100%;
		justify-content: space-between;
	}
	.sub{
		height: 100%;
		width: 30vw;
	}
	.subAdv{
		height: 100%;
		width: 60vw;
	}
	.progress{
		width: 61vw;
		height: 50%;
	}
	.wiki{
		overflow-y: scroll;
	}
	.contentImg{
		height: 63vh;
	}
	.content{
		height: auto;
	}
	.contentBar{
		height: auto;
		overflow-y: hidden;
	}
}
